<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Portfolio de Pierre Julien" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <title>Pierre Julien – Ingénieur Logiciel</title>
</head>
<body class="bg-light">

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pierre Julien</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="@Html.IsElementActive(
                                  "Skill", 
                                  "Index",
                                  "nav-link")"
                       asp-controller="Skill"
                       asp-action="Index">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="@Html.IsElementActive(
                                  "Achievement", 
                                  "Index",
                                  "nav-link")"
                       asp-controller="Achievement"
                       asp-action="Index">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="@Html.IsElementActive(
                                  "Experience", 
                                  "Index",
                                  "nav-link")"
                       asp-controller="Experience"
                       asp-action="Index">Expériences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/docs/cv.pdf" target="_blank">Curriculum vitæ</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <a class="@Html.IsElementActive(
                              "Contact", 
                              "Index", 
                              "btn btn-outline-success my-2 my-sm-0")" 
                   asp-controller="Contact" 
                   asp-action="Index" 
                   role="button">Contactez-moi</a>
            </ul>
        </div>
    </nav>

    <div class="container body-content pt-5 pb-4">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/dcfcc62274.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
