@model Portfolio.ViewModels.Skill.SkillDetailViewModel

<div class="container col-md-8 mx-auto py-4">
    <h2>@Model.Skill.Title</h2>
    <div class="d-flex align-items-center">
        <span class="badge badge-primary">@Model.GetSkillType(Model.Skill)</span>
        @if (Model.IsArticleExist())
        {
            <small class="text-muted ml-1"> ・ @Model.GetReadTime() minutes de lecture</small>
        }
    </div>

    <hr class="my-4" />
    @Html.Raw(Model.GetStaticHtml())

    @if (Model.Achievements.Any())
    {
        <hr class="my-4" />
        <ul class="list-inline">
            @foreach (var achievement in Model.Achievements)
            {
                <li class="list-inline-item">
                    <a class="badge badge-dark" 
                       asp-controller="Achievement" 
                       asp-action="Detail" 
                       asp-route-achievementname=@achievement.Name>
                    @achievement.Title</a>
                </li>
            }
        </ul>
    }
</div>